<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lzh.storm">


    <!--允许应用程序改变网络状态-->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <!--允许应用程序改变WIFI连接状态-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!--允许应用程序访问有关的网络信息-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--允许应用程序访问WIFI网卡的网络信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!--允许应用程序完全使用网络-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--在SD卡中创建与删除文件权限-->
    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS" />
    <!--读取数据的权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 向SD卡写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.activity.LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.LoginActivity" />
        <activity android:name=".view.activity.MainActivity" />
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.lzh.storm.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">     
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>